# Loading the Required Libraries and Reading the Data

In [15]:
# !pip install pycaret
#!pip install gradio
import pandas as pd

from pycaret.regression import *

GE = pd.read_csv(r'M:\ISA401-Fa22\GE\Model_Data.csv')

In [3]:
GE.head()

,esn,dist,flight_cycle,t50_max,nc_avg,ps30_max,nrc_max,bpr_max,w32_avg,rul
0,999101,16086.823174,31,1411.140,9049.054516,47.50,8139.62,8.4577,23.379097,149
1,999102,59807.494851,49,1413.465,9047.997347,47.67,8137.07,8.4992,23.313918,147
2,999103,86928.554029,126,1414.605,9052.272619,47.88,8137.46,8.5043,23.280522,66
3,999104,95777.578284,106,1414.190,9052.378396,47.71,8139.14,8.4910,23.297936,93
4,999105,98745.394623,98,1414.680,9052.542653,47.76,8140.87,8.4885,23.295200,123

## Setting up the Model

In [4]:
setup = setup(data = GE, target ='rul', ignore_features = ['esn'], session_id = 401)

## Training the AdaBoost Regressor Regression Model

In [6]:
ada_model = create_model('ada')

## Tuning the AdaBoost Model

In [8]:
tuned_ada = tune_model(ada_model)

## Evaluating Model Performance
The plots below give us insight into how the model is performing, allowing us to analyze its usefulness.

In [9]:
evaluate_model(tuned_ada)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

## Validating Holdout Performance
The output of the model on the holdout data is similar to the validation data, resulting in no indication of overfitting.

In [10]:
pred_holdout = predict_model(tuned_ada)

## Finalizing the Model
We can now retrain the model over our entire dataset, save it, and then use it in our app to begin predictions.

In [11]:
final_model = finalize_model(tuned_ada)
save_model(final_model, 'M:\\ISA401-Fa22\\GE\\final_model')

In [18]:
temp_df = pd.read_csv(r'M:\ISA401-Fa22\GE\Model_Data.csv')

pred = predict_model(final_model, temp_df)
pred

print({'RUL': pred['Label'][0].astype('float64')})

{'RUL': 144.25}

In [22]:
import gradio as gr

def predict(dist, flight_cycle, t50_max, nc_avg, ps30_max, nrc_max, bpr_max, w32_avg):
    
    model = load_model('M:\\ISA401-Fa22\\GE\\final_model')
    
    GE_df = pd.DataFrame.from_dict({
     'dist': [dist], 'flight_cycle': [flight_cycle], 't50_max': [t50_max], 'nc_avg': [nc_avg], 'ps30_max': [ps30_max], 
     'nrc_max': [nrc_max], 'bpr_max': [bpr_max], 'w32_avg': [w32_avg]
  })
    pred = predict_model(final_model, temp_df)


    return {'RUL': pred['Label'][0]}

dist = gr.inputs.Number()
flight_cycle = gr.inputs.Number()
t50_max = gr.inputs.Number()
nc_avg = gr.inputs.Number()
ps30_max = gr.inputs.Number()
nrc_max = gr.inputs.Number()
bpr_max = gr.inputs.Number()
w32_avg = gr.inputs.Number()


gr.Interface(predict, [dist, flight_cycle, t50_max, nc_avg, ps30_max, nrc_max, bpr_max, w32_avg], 
            'number',
            live=True,
            title = "Predicting Remaining Useful Life Using AdaBoost Regressor",
            description = "description test",
            css = 'https://bootswatch.com/5/journal/bootstrap.css').launch(debug = False);

Running on local URL:  http://127.0.0.1:7867

To create a public link, set `share=True` in `launch()`.

Transformation Pipeline and Model Successfully Loaded

Traceback (most recent call last):
  File "C:\Users\holroyjm\.conda\envs\GE\lib\site-packages\gradio\routes.py", line 289, in run_predict
    output = await app.blocks.process_api(
  File "C:\Users\holroyjm\.conda\envs\GE\lib\site-packages\gradio\blocks.py", line 983, in process_api
    data = self.postprocess_data(fn_index, result["prediction"], state)
  File "C:\Users\holroyjm\.conda\envs\GE\lib\site-packages\gradio\blocks.py", line 930, in postprocess_data
    prediction_value = block.postprocess(prediction_value)
  File "C:\Users\holroyjm\.conda\envs\GE\lib\site-packages\gradio\components.py", line 544, in postprocess
    return self._round_to_precision(y, self.precision)
  File "C:\Users\holroyjm\.conda\envs\GE\lib\site-packages\gradio\components.py", line 493, in _round_to_precision
    return float(num)
TypeError: float() argument must be a string or a number, not 'dict'